mat-grid-tile {
  background-color: #dddedd;
}

mat-card {
	width: 30%;
	height: 80%;
}

img {
	width: auto;
	height: 80%;
}

mat-card-subtitle {
	font-size: 1em;
}

mat-card-content {
	margin-top: 1em;
	font-size: 1.7em;
}
