<mat-grid-list cols="2" rowHeight="5:2">

  <mat-grid-tile>
    <img mat-card-image src="../../assets/images/henrique.jpg">
		<mat-card>
			<mat-card-title>Henrique Ferreira</mat-card-title>
			<mat-card-subtitle>86432</mat-card-subtitle>
			<mat-card-content>User Research</mat-card-content>
		</mat-card>
  </mat-grid-tile>

	<mat-grid-tile>
    <img mat-card-image src="../../assets/images/maria.jpg">
		<mat-card>
			<mat-card-title>Maria Forjó</mat-card-title>
			<mat-card-subtitle>86475</mat-card-subtitle>
			<mat-card-content>Back End</mat-card-content>
		</mat-card>
  </mat-grid-tile>

	<mat-grid-tile>
    <img mat-card-image src="../../assets/images/fred.jpg">
		<mat-card>
			<mat-card-title>Frederico Borlido</mat-card-title>
			<mat-card-subtitle>86425</mat-card-subtitle>
			<mat-card-content>Front End</mat-card-content>
		</mat-card>
  </mat-grid-tile>

	<mat-grid-tile>
    <img mat-card-image src="../../assets/images/marta.jpg">
		<mat-card>
			<mat-card-title>Marta Ambrósio</mat-card-title>
			<mat-card-subtitle>86479</mat-card-subtitle>
			<mat-card-content>Project Management</mat-card-content>
		</mat-card>
  </mat-grid-tile>

	<mat-grid-tile>
    <img mat-card-image src="../../assets/images/rocha.jpg">
		<mat-card>
			<mat-card-title>Miguel Rocha</mat-card-title>
			<mat-card-subtitle>86482</mat-card-subtitle>
			<mat-card-content>Design</mat-card-content>
		</mat-card>
  </mat-grid-tile>

	<mat-grid-tile>
	</mat-grid-tile>

</mat-grid-list>
