mat-grid-tile {
  background-color: #dddedd;
}

mat-card {
	width: 30%;
	height: 75%;
	margin-top: 1rem;
}

img {
	width: auto;
	height: 80%;
}

mat-card-subtitle {
	font-size: 1rem;
}

mat-card-content {
	margin-top: 4.1rem;
	font-size: 2rem;
	text-align: center;
}
