<h1>Parking in Lisbon</h1>

<p>This project is being conducted in the course of User Centered Design.</p>

<h2>The Goal</h2>

<p>We would like to develop an app that not only tells you how long you'll take to get
somewhere while driving, plus how long it will take for a parking spot to become available,
and if there are none, the nearest area where you can find one.</p>

<h2>Why?</h2>

<p>This is aimed to reduce the time people spend looking for a parking spot,
for people with a driver's licence and a car, possibly people between the ages 18 and 50.</p>
